@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background-color: #f0deeb;
  font-family:'poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wavy-border {
  border-image: linear-gradient(45deg, #63b3ed, transparent) 1;
  border-image-slice: 1;
  border-image-repeat: repeat;
}





